* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

.wrapper {
    max-width: 1080px;
    margin: auto;
}
.hero-img {
    display: flex;
    flex-wrap: wrap;
    display: block;

}